html, body, * {
		box-sizing: border-box;
}

.centered-col-wrapper {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.phone-field {
	line-height: 40px;
	float: left;
	color: #c8d8d7;
}

.users-navs {
	float: right;
	line-height: 40px;
}

.users-navs a {
		text-decoration: none;
		color: #c8d8d7;
}

.users-navs a:visited {
		text-decoration: none;
		color: #c8d8d7;	
}

.users-navs a:before {
		content: '';
		display: inline-block;
		position: relative;
}

.users-navs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.users-navs li {
	display: inline-block;
	margin-left: 20px;
}

.clearfix {
	clear: both;
}

.first-line {
	background-color: #576f6f; 
	font-size: .8em;
}

.sales-chat > a { position: relative; }
.sales-chat > a:before {
	width: 14px;
	height: 14px;
	top: 2px;
	right: 3px;
	background-image: url(../img/sprite.png);
}

.login > a:before {
	width: 10px;
	height: 12px;
	top: 1px;
	right: 4px;
	background-image: url(../img/sprite.png);
	background-position: -13px 0;
}

.sign-in > a:before {
	width: 10px;
	height: 12px;
	top: 1px;
	right: 4px;
	background-image: url(../img/sprite.png);
	background-position: -25px 0;
}

.second-line {
	box-sizing: border-box;
	background-color: #e7552c;
	border-bottom: 3px solid #fff;
}

.banner {
	height: 500px;
	background-color: #c8d8d7;
	position: relative;
}

.logo {
	 float: left;
		cursor: pointer;
		color: #fff;
		font-size: 1.2em;
		padding-left: 75px;
		width: 60px;
		height: 57px;
		line-height: 57px;
		background-image: url(../img/logo.png);
		background-repeat: no-repeat;
		background-position: 0 center;
}

.logo > span {
		font-weight: bold;
}

.menu-navigation {
	line-height: 57px;
	color: #fff;
	float: right;
}

.menu-navigation a {
 color: #fff;
	text-decoration: none;
	padding: 12px 14px 12px 14px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 0.9em;
	transition: background-color .75s;
}

.menu-navigation a:hover {
	background-color: #ad4021;
}

.menu-navigation ul {
	list-style-type: none;
	margin: 0; padding: 0;
	display: block;
}

.menu-navigation ul li {
	display: inline-block;
	text-transform: capitalize;
	margin-left: 12px;
	transform: rotateY(0deg);
	height: 57px;
}

.hidden {
  display: none;
}

.show-hide-menu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	right: 0;
	top: 13px;
	width: 30px;
	height: 30px;
	background-image: url(../img/sh-menu.png);
	background-size: 30px 30px;
	background-position: center 0;
	cursor: pointer;
}
