@media screen and (max-width: 1000px ) {
	 .menu-navigation 			   { width: 100%;   }
	 .menu-navigation ul 			{ text-align: center; }
  .menu-navigation ul li { display: block; height: 0px; overflow: hidden; transform: rotateY(90deg);  }	
		.show-hide-menu        { opacity: 1; visibility: visible; }
}

@media screen and (max-width: 480px ) {
  .phone-field, .users-navs { float: none; text-align: center; }
}